#one {
  background: #4296e1;
}

#two {
  background: #71e551;
}

#three {
  background: #c763aa;
}

#four {
  background: #de9e4b;
}

#five {
  background: #e46b6b;
}

#header {
  position: fixed;
  top: -1px;
  display: block;
}
